.site-header{
  position: absolute;
  width: 100%;
  height: 50px;
  //padding: 10px 0;


  //padding-top: 50px;
 //background-color: rgba($mainBlue, .3);
  &__logo{
    float: left;
    position: absolute;
    top: 0;
    z-index: 12;
    img{
      height: 95px;
      width: 95px;
      margin-top: -10px;
    }
    }

  &__icon-menu{
    position: absolute;
    top: 15px;
    right: 10px;
    width: 20px;
    height: 20px;
    z-index: 30;
    @include atLarge{
      display: none;
    }

   // background-color: white;
    &::before{
      content: "";
      position: absolute;
      top: 0;
      width: 20px;
      height: 3px;
      background-color: blue;
      transition: all .3s ease-out;
      transform-origin: 0 0;

    }
    &__middle{
      position: absolute;
      top: 8px;
      width: 20px;
      height: 3px;
      background-color: red;
      transition: all .3s ease-out;
      transform-origin: 0 50%;

    }
    &::after{
      content: "";
      position: absolute;
      bottom: 1px;
      width: 20px;
      height: 3px;
      background-color: blue;
      transition: all .3s ease-out;
      transform-origin: 0 100%;
    }

  }
  &__icon-menu__close-x{
    &::before{
      transform: rotate(45deg) scaleX(1.25);
    }
    .site-header__icon-menu__middle{
      opacity: 0;
      transform: scale(0);
    }
    &::after{
      transform: rotate(-45deg) scaleX(1.25) translateY(1px);
    }
  }
  @include atMedium{
   background-color: rgba($mainBlue, .3);
  }

}