.nav{
  display: flex;
  justify-content: flex-end;
  @include atMedium{
    display: block;
    //justify-content: flex-start;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($darkBlue, .8);
    transform: translateX(-100%);
    z-index: 10;

    ul{
      display: block;

    }
    ul li{
      position: relative;
      list-style: none;
      top: 35px;
      padding: 12px 35px;
      border: 1px solid #8a98db;

      a{
        text-decoration: none;
        color: white;
      }
    }
    ul li ul li{
      position: relative;
      padding: 10px 0;
      top: 12px;
      background-color: rgba($mainBlue, .3);
      width: 100%;
      border-top: #8a98db;
      padding-left: 55px;

    }
    ul li ul li a:hover {
      color: #000d64;
    }
    ul li:hover ul{
      display: none;
      //position: static;
    }
    a span{
      position: absolute;
      transform: rotate(90deg);
      right: 8px;
    }
    ul ul{
      position: relative;
      display: none;
      width: 100vw;
      left: -35px;

    }
    ul li a:hover{
      cursor: pointer;
      color: $over;
    }

  }

  @include atLarge{

    ul{//hace que el nav este situado en el medio
      display: flex;
      list-style: none;

    }

    ul li ul{
      position: absolute;
      background-color: rgba($menuBlue, .8);
      width: 100%;
      z-index: 10;
    }
    a{
      display: block;
      padding: 15px 15px;
      text-decoration: none;
      color: white;
    }
    span{
      display: none;
    }
    ul li:hover ul{
      display: block;
      position: absolute;
    }
    ul li a:hover{
      cursor: pointer;
      color: $over;
    }
    ul ul{
      display: none;
      position: relative;
    }
  }

  &__visible{
    transition: transform .5s;
    transform: translateX(0%);
  }



}